<div class="check-in-view">
    <h2 class="check-in-title"> Retrieve your Booking </h2>
    <div> You can find your booking by filling out your family name and the booking code in your booking confirmation.</div>

    <form class="check-in-form">
        <label> Booking Code
            <input type="text" name="bookingCode" placeholder="Booking code">
        </label>
        <label> Family name
            <input type="text" name="familyName" placeholder="Family name">
        </label>
        <div class="retrieve-booking-button">
            <button>Retrive booking</button>
        </div>
        
       
    </form>
    
</div>

